@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
	flex-direction: row;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.favicon {
  width: 100px;
}

.quiz {
	width: 150px;
}

.center {
  display: flex;
  justify-content: 	
  font-size: 2em;
  align-items: center;
  align-content: center;	
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 30px;
}

#score {
	padding: 20px;
	border-radius: 5px;
	background-color: #2ecc71;
	border-radius: 5px;
	background-size: cover;
	align-self: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	font-size: 20px;
	position: fixed;
	right: 20px;
	
/*	transition: background-color .2s;*/
}

#inscore {
	align-self: center;
	color: white;
	font-weight: bolder;
}

#lastupdate {
	text-align: center;
	background-color: #c0392b;
	font-size: 10px;
	padding: 5px;
	border-radius: 3px;
	color: white;
}

@media screen and (orientation: portrait) {
	.favicon {
  		width: 200px;
	}
	
	.quiz {
		width: 300px;
	}
	
	#score {
		font-size: 30px;
	}
}