#timer {
  width: 100%;
  height: 5px;
  background-color: #dfe6e9;
  overflow-x: hidden;
}

#passed {
  height: 100%;
  width: 0;
  background-color: #55efc4;
  transition: width 1s linear;
}

#question_container {
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.answers {
  align-self: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px 0;
  width: 100%;
}

.answer {
  text-decoration: none;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  width: 100%;
  background-color: #3498db;
  border-radius: 3px;
  text-align: center;

  cursor: pointer;

  transition: .2s;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.answer:hover {
  background-color: #2980b9;
}

.homeLink {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #7f8fa6;
  transition: .2s;
  margin: 5px;
}

.homeLink:hover {
  background-color: #718093;
}
